export ANTA_USERNAME=admin
export ANTA_PASSWORD=admin
export ANTA_ENABLE_PASSWORD=admin
export ANTA_TIMEOUT=500
export ANTA_LOG_LEVEL=INFO
export ANTA_INSECURE=true
export ANTA_INVENTORY=./anta_inventory.yml
export ANTA_NRFU_CATALOG=./tests.yml
export ANTA_EXEC_SNAPSHOT_COMMANDS_LIST=./eos-commands.yml
